.navbar{
    height: 12%;
    background: orange;
    display: flex;

    li {
        list-style: none;
    }
}

.home{
    width: 20%;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.menu {
    width: 80%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    li {
        margin-right: 15px;
    }
}